@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');

body {
  background-color: #282A2E;
  color: white;
  font-family: 'Tomorrow', sans-serif;
}

#content {
  margin: 0 10vw 0 10vw;
  height: 100vh;
  background-color: #373B41;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#viewport {
  width: 50vw;
  height: 50vh;
  background-color: #1D1F21;
}

h3 {
  margin-top: 10px;
  font-weight: 200;
}

/* THANKS TO w3schools.com FOR THIS STUFF, YOU'RE AWESOME! */

.slidecontainer {
  margin-top: 10px;
  width: 20vw;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px;
  border-radius: 5px;
  background: #282A2E; /* Background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: url('/textures/ui/ruby.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: url('/textures/ui/ruby.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; /* Cursor on hover */
}
